h1{
    color: red;
    line-height: 1.5px;
    margin-top: 3em;
    border-bottom: 3rem;
}
h2{
    color: aqua;
    border: 3px solid black;
    border-radius: 1.5px;
    border-width: 100px;
    border-bottom: 40px;
}
.Navigation {
display: flex; 
align-items: center;
justify-content: space-between;
}
.uni{
    justify-content: flex-start;
    position: relative;
}
.new{
    display: flex;
    gap: 20px;
}
.new1{
    display: flex;
    max-width: 700px; gap: 20px;
    margin: auto;
}
.card,
.card1,
.card2{
    flex:1;
    padding: 10px;
}
.card{
    border: 2px solid aqua ;
}
.card1{
    border: 2px solid lightblue;
}
.card2{
    border: 2px solid greenyellow;
}
.card h1,
.card1 h1,
.card2 h1{
    font-size:25px;
    line-height:1.3;
} 

